/* #region 基礎樣式 start*/
.container{
    width: 1190px;
    margin: 0 auto; /*居中*/
}
/* #endregion 基礎樣式 end*/
/* #region 頂部導航條 start*/
.topbar{
    height: 30px;
    background-color: #ececec;
}
.welcome{
    height: 30px;
    line-height: 30px; /* height和line-height相等，文字垂直居中 */
    font-size: 0; /* 解決inline-block元素間的空隙問題 */
    color: #666;
}
.welcome span, a{
    font-size: 12px;
}
.topbar-nav{
    height: 30px;
    line-height: 30px;
}
.welcome .hello{
    margin-right: 28px;
}
.welcome .login{
    padding-right: 10px;
    border-right: 1px solid #666
}
.welcome .register{
    margin-left: 10px;
}
.topbar-nav .list{
    height: 30px;
    line-height: 30px;
}
.topbar-nav .list li{
    float: left;
}
.topbar-nav .list li a{
    padding: 0 15px;
    border-right: 1px solid #666;
}
.topbar-nav .list li:first-child a{
    padding-left: 0;
}
.topbar-nav .list li:last-child a{
    padding-right: 0;
    border-right: none;
}
/* #endregion 頂部導航條 end*/