/* #region 基礎樣式 start*/
.container {
  width: 1190px;
  margin: 0 auto; /*居中*/
}
/* #endregion 基礎樣式 end*/

/* #region 頂部導航條 start*/

.topbar {
  height: 30px;
  background-color: #ececec;
}
.welcome {
  height: 30px;
  line-height: 30px; /* height和line-height相等，文字垂直居中 */
  font-size: 0; /* 解決inline-block元素間的空隙問題 */
  color: #666;
}
.welcome span,
a {
  font-size: 12px;
}
.topbar-nav {
  height: 30px;
  line-height: 30px;
}
.welcome .hello {
  margin-right: 28px;
}
.welcome .login {
  padding-right: 10px;
  border-right: 1px solid #666;
}
.welcome .register {
  margin-left: 10px;
}
.topbar-nav .list {
  height: 30px;
  line-height: 30px;
}
.topbar-nav .list li {
  float: left;
}
.topbar-nav .list li a {
  padding: 0 15px;
  border-right: 1px solid #666;
}
.topbar-nav .list li:first-child a {
  padding-left: 0;
}
.topbar-nav .list li:last-child a {
  padding-right: 0;
  border-right: none;
}
/* #endregion 頂部導航條 end*/

/* #region 頭部 start*/
.header {
  height: 120px;
  /* line-height: 120px; */
}
.logo-img {
  height: 120px;
  width: 190px;
}
.header .search {
  font-size: 0; /* 解決inline-block元素間的空隙問題 ( input 和 button ) */
  margin-top: 42px;
}
.header .search input {
  width: 508px;
  height: 34px;
  border: 1px solid #dd302d;
}
.header .search button {
  width: 80px;
  height: 36px;
  border: 1px solid #dd302d;
  vertical-align: top; /* 解決 search input 及 button 文字基線造成的對齊問題 ，但如果是使用line-height來置中的話，就沒辦法用這個方法了 */
}
/* #endregion 頭部 end*/

/* #region 主導航條 start*/
.main-nav {
  height: 48px;
  border-bottom: 1px solid #dd302d;
}
.all-types {
  width: 190px;
  height: 48px;
  line-height: 48px; /* height和line-height相等，文字垂直居中 */
  background-color: #dd302d;
  color: #ffffff;
  text-align: center; /* 文字水平居中 */
  font-size: 16px;
}
.main-nav-list {
  height: 48px;
  line-height: 48px;
}
.main-nav-list li {
  float: left;
  margin: 0 10px;
  font-size: 16px;
}
/* #endregion 主導航條 end*/

/* #region 主要內容 start*/
.main-content {
  margin-top: 10px;
}
.main-content .slide-nav {
  width: 190px;
  height: 458px;
  background-color: #f4f4f4;
}
.main-content .slide-nav li {
  height: 28px;
  line-height: 28px;
  font-size: 14px;
  padding-left: 16px;
}
.main-content .slide-nav li:hover {
  background-color: #dd302d;
}
.main-content .slide-nav li:hover a { /*當滑鼠移到li上時，a的顏色變白*/
  color: white;
}
.main-content .banner {
  width: 690px;
  height: 458px;
  background-color: red;
  margin: 0 10px;
}

.main-content .slide-other {
  width: 290px;
  height: 458px;
  background-color: green;
}

/* #endregion 主要內容 end*/
